numpy>=1.24.0
scikit-learn>=1.3.0
joblib>=1.3.0
streamlit>=1.28.0
requests>=2.31.0
matplotlib>=3.7.0
plotly>=5.17.0
anthropic>=0.84.0
### special vscode extension ###
# sql lite viewer (for viewing .db files)
# data file viewer (for viewing .joblib files) 
# and run this ==> /home/userx/.config/Code/User/globalStorage/thecalendre.data-file-viewer/python-venv/bin/python -m pip install scikit-learn pandas numpy joblib streamlit requests matplotlib plotly h5py msgpack

